# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Anaconda
.conda/
.condarc
conda-meta/
envs/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db

# Project specific
config.py
*.db
*.sqlite3
*.csv
logs/
data/

# Elasticsearch
elasticsearch-data/

# Logs
*.log

# Temporary files
*.tmp

# Environment variables
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip